<ion-content pading="true">
  <div class="logo">
    <ion-img src="assets/icon/auth-icon.png"> </ion-img>
  </div>
  <div class="forgot-info-msg">
    <ion-text>
      <h5>
        No prob! Enter your email address and
        we'll send you password reset instructions ASAP.
      </h5>
    </ion-text>
  </div>
  <form class="forgot-password-form" [formGroup]="forgotPasswordForm" (ngSubmit)="recoverPassword()">
    <div class="item-container">
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
        <span slot="start">
          <ion-icon name="at-outline"></ion-icon>
        </span>
      </ion-item>
      <ion-text *ngIf="email.touched && email.invalid" color="danger">
        <small>It must be a valid email.</small>
      </ion-text>
    </div>

    <ion-button class="listapp-button" expand="block" shape="round" color="listapp" type="submit"
      [disabled]="forgotPasswordForm.invalid">
      Recover Password
    </ion-button>
  </form>
</ion-content>