:root {
    --ion-color-listapp: #f4cd6f;
    --ion-color-listapp-rgb: 244,205,111;
    --ion-color-listapp-contrast: #000000;
    --ion-color-listapp-contrast-rgb: 0,0,0;
    --ion-color-listapp-shade: #d7b462;
    --ion-color-listapp-tint: #f5d27d;
}

.ion-color-listapp {
    --ion-color-base: var(--ion-color-listapp) !important;
    --ion-color-base-rgb: var(--ion-color-listapp-rgb) !important;
    --ion-color-contrast: var(--ion-color-listapp-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-listapp-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-listapp-shade) !important;
    --ion-color-tint: var(--ion-color-listapp-tint) !important;
}